@model SISGUILLEN.Models.Perfile
@{
    ViewData["Title"] = "Create";
}


<h1 class="d-flex align-items-center">Añadir Perfil</h1>

<hr />
<div class="d-flex justify-content-center align-items-center">
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        
        <div class="mb-3">
            <label asp-for="Nombre" class="control-label">Nombre</label>
            <input asp-for="Nombre" class="form-control" />
            <span asp-validation-for="Nombre" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Descripcion" class="control-label">Descripcion</label>
            <input asp-for="Descripcion" class="form-control" />
            <span asp-validation-for="Descripcion" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <button type="submit" class="btn btn-primary">Agregar</button>
            <a class="btn btn-info" asp-action="Index">Regresar</a>
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
